
[submodule "smart-consumption-review-ms"]
	path = smart-consumption-review-ms
	url = https://github.com/smart-consumption/smart-consumption-review-ms
[submodule "smart-consumption-user-ms"]
	path = smart-consumption-user-ms
	url = https://github.com/smart-consumption/smart-consumption-user-ms
[submodule "smart-consumption-offert-ms"]
	path = smart-consumption-offert-ms
	url = https://github.com/smart-consumption/smart-consumption-offert-ms
[submodule "smart-consumption-product-ms"]
	path = smart-consumption-product-ms
	url = https://github.com/smart-consumption/smart-consumption-product-ms
[submodule "smart-consumption-api-gateway"]
	path = smart-consumption-api-gateway
	url = https://github.com/smart-consumption/smart-consumption-api-gateway
[submodule "smart-consumption-register-ms"]
	path = smart-consumption-register-ms
	url = https://github.com/smart-consumption/smart-consumption-register-ms
